<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.deezer.sdk.sample"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="18" />

	<!-- Obviously needed to download tracks and send request to the API -->
	<uses-permission android:name="android.permission.INTERNET" />

	<!-- Needed to know if network is available before trying to download a track -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<!-- Enable the device to keep the screen on when music is playing -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/DeezerDemoTheme" >

		<!-- Main activity -->
		<activity
			android:name=".LoginActivity"
			android:noHistory="true"
			android:screenOrientation="portrait" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- User Home activity -->
		<activity
			android:name=".HomeActivity"
			android:screenOrientation="portrait" />

		<!-- User's playlists activity -->
		<activity
			android:name=".UserPlaylistsActivity"
			android:screenOrientation="portrait" >
		</activity>

		<!-- User's albums activity -->
		<activity
			android:name=".UserAlbumsActivity"
			android:screenOrientation="portrait" >
		</activity>

		<!-- User's artists activity -->
		<activity
			android:name=".UserArtistsActivity"
			android:screenOrientation="portrait" >
		</activity>

		<!-- User's radios activity -->
		<activity
			android:name=".UserTopTracksActivity"
			android:screenOrientation="portrait" >
		</activity>

		<!-- User's radios activity -->
		<activity
			android:name=".UserRadiosActivity"
			android:screenOrientation="portrait" >
		</activity>

		<!-- Radios activity -->
		<activity
			android:name=".RadiosActivity"
			android:label="@string/activity_radio"
			android:screenOrientation="portrait" />

		<!-- Custom tracklist activity -->
		<activity
			android:name=".UserCustomTrackListActivity"
			android:screenOrientation="portrait" />
	</application>

</manifest>